*{
    padding:0px;
    margin:0px;

}
ul{
    border: solid 1px;
    width: 330px;
    position:fixed;
    height:100%;
    background-color:darkslategrey;
    padding-top: 60px;
    list-style: none;
}
#text1{
    color:antiquewhite;
    font-size: 70;
    font-weight: bold;
}
#text2{
    color:aliceblue;
    font-size: 70;
    font-weight: bold;
}
ul li{
    border: solid 1px rgb(31, 110, 129);
    height: 50px;
    width: 150px;
    margin-left: 80px;
    background-color: rgb(104, 126, 118);
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    border-bottom: 10px;
    margin-bottom: 10px;
}
ul li a{
    color:aliceblue;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;

}
ul li:hover {
    background-color: rgb(212, 167, 107);
}
#Home{
    border: solid 1px;
    height: 650px;
    background-color: rgb(109, 116, 113);
    padding-left: 350px;
}
#text3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}
#text5{
    font-family:'Courier New', Courier, monospace
}
#text4{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#bt1{
    height:50px;
    width:120px;
    background-color: darkslategrey;
    border-radius: 10px;
    font-weight: bold;
}
#about{
    border: solid 1px;
    height: 650px;
    background-color: rgb(109, 116, 113);
    padding-left: 350px;
}
#aboutme{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#btn2{
   height:60px;
    width:180px;
    background-color: darkslategrey;
    border-radius: 10px;
    font-weight: bold; 
}
html{
    scroll-behavior: smooth;
}
#skills{
     border: solid 1px;
    height: 650px;
    background-color: rgb(109, 116, 113);
    padding-left: 350px;
}
#cert{
    border: solid 1px;
    height: 650px;
    background-color: rgb(109, 116, 113);
    padding-left: 350px;
}
#Pro{
    border: solid 1px;
    height: 650px;
    background-color: rgb(109, 116, 113);
    padding-left: 350px;
}